<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.battcn.mapper.UserMapper">

    <insert id="insert" parameterType="com.hao.eshopcache.model.User">
    INSERT INTO `tb_user`(`name`,`age`) VALUES (#{name},#{age})
  </insert>

</mapper>